## PyCaret 설치

In [ ]:
# pip install --pre pycaret
!pip install -U pycaret -q

Google Colab 사용자의 경우 다음의 코드를 실행합니다.

In [ ]:
from pycaret.utils import enable_colab

enable_colab()

## 샘플 데이터셋 로드

In [6]:
from pycaret.datasets import get_data

dataset = get_data('juice')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

## 머신러닝 파이프라인 진행

In [11]:
from pycaret.classification import *

s = setup(data=dataset, target='STORE', session_id=123) 

best = compare_models()

predictions = predict_model(best)

save_model(best, 'my-model')

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=C:\Users\TEDDY-~1\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Id', 'WeekofPurchase', 'StoreID',
                                              'PriceCH', 'PriceMM', 'DiscCH',
                                              'DiscMM', 'SpecialCH', 'SpecialMM',
                                              'LoyalCH', 'SalePriceMM',
                                              'SalePriceCH', 'PriceDiff',
                                              'PctDiscMM', 'PctDiscCH',
                                              'ListPriceDiff'],
                                     transformer=SimpleI...
                                                                handle_missing='return_nan',
                                                                handle_unknown='value',
                                                                mapping=[{'col': 'Purchase',
                                                                          'mapping': {nan: -1,
                                                                                      'CH': 0,
                                                                                      'MM': 1}},
                                                                         {'col': 'Store7',
                                                                          'mapping': {nan: -1,
                                                                                      'No': 0,
                                                                                      'Yes': 1}}],
                                                                return_df=True,
                                                                verbose=0))),
                 ('low_variance',
                  TransformerWrapper(exclude=[], include=None,
                                     transformer=VarianceThreshold(threshold=0))),
                 ['trained_model',
                  GaussianNB(priors=None, var_smoothing=1e-09)]],
          verbose=False),
 'my-model.pkl')