## PyCaret 설치

In [1]:
import urllib.request

url = 'https://www.dropbox.com/s/pq6n1vg90a4v6t4/pycaret_colab.py?dl=1'
urllib.request.urlretrieve(url, 'pycaret_colab.py')
%run pycaret_colab.py

============================================================
설치환경: Local
별도의 PyCaret을 설치하지 않습니다(skip)
PyCaret의 설치를 진행하려는 경우 다음의 명령어를 실행해 주세요
!pip install pycaret
============================================================
[알림] 완료
============================================================

## 샘플 데이터셋 로드

In [2]:
from pycaret.datasets import get_data

dataset = get_data('juice')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

In [3]:
dataset['STORE'].value_counts()

0    356
2    222
3    196
1    157
4    139
Name: STORE, dtype: int64

In [ ]:
import pandas as pd

dataset = pd.read_excel('엑셀파일')

## 머신러닝 파이프라인 진행

In [4]:
from pycaret.classification import *

s = setup(data=dataset, target='STORE', session_id=123) 

best = compare_models(n_select=5)
best = blend_models(best)

predictions = predict_model(best)

save_model(best, 'my-model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\teddy\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Id', 'WeekofPurchase', 'StoreID',
                                              'PriceCH', 'PriceMM', 'DiscCH',
                                              'DiscMM', 'SpecialCH', 'SpecialMM',
                                              'LoyalCH', 'SalePriceMM',
                                              'SalePriceCH', 'PriceDiff',
                                              'PctDiscMM', 'PctDiscCH',
                                              'ListPriceDiff'],
                                     transformer=Simple...
                                                                     criterion='gini',
                                                                     max_depth=None,
                                                                     max_features='sqrt',
                                                                     max_leaf_nodes=None,
                                                                     max_samples=None,
                                                                     min_impurity_decrease=0.0,
                                                                     min_samples_leaf=1,
                                                                     min_samples_split=2,
                                                                     min_weight_fraction_leaf=0.0,
                                                                     n_estimators=100,
                                                                     n_jobs=-1,
                                                                     oob_score=False,
                                                                     random_state=123,
                                                                     verbose=0,
                                                                     warm_start=False))],
                                   flatten_transform=True, n_jobs=-1,
                                   verbose=False, voting='soft',
                                   weights=None))],
          verbose=False),
 'my-model.pkl')

In [6]:
predictions

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,...,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE,prediction_label,prediction_score
115,116,CH,257,3,1.99,2.29,0.0,0.40,0,1,...,1.89,1.99,-0.10,No,0.174672,0.000000,0.30,3,3,0.948
504,505,CH,244,3,1.99,2.23,0.0,0.00,0,0,...,2.23,1.99,0.24,No,0.000000,0.000000,0.24,3,3,0.998
1036,1037,MM,228,1,1.69,1.69,0.0,0.00,0,0,...,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1,1,0.994
1068,1069,CH,261,7,1.86,2.13,0.0,0.24,0,0,...,1.89,1.86,0.03,Yes,0.112676,0.000000,0.27,0,0,1.000
156,157,CH,263,4,1.99,2.09,0.0,0.00,0,0,...,2.09,1.99,0.10,No,0.000000,0.000000,0.10,4,4,0.994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,1009,CH,229,7,1.69,1.69,0.0,0.20,0,1,...,1.49,1.69,-0.20,Yes,0.118343,0.000000,0.00,0,0,1.000
308,309,CH,269,3,1.99,2.09,0.1,0.00,0,0,...,2.09,1.89,0.20,No,0.000000,0.050251,0.10,3,3,0.972
530,531,MM,236,2,1.75,1.99,0.0,0.00,0,0,...,1.99,1.75,0.24,No,0.000000,0.000000,0.24,2,2,0.996
624,625,CH,272,1,1.86,2.18,0.0,0.00,0,0,...,2.18,1.86,0.32,No,0.000000,0.000000,0.32,1,1,1.000
185,186,CH,257,4,1.99,2.29,0.0,0.40,0,1,...,1.89,1.99,-0.10,No,0.174672,0.000000,0.30,4,4,0.978

In [7]:
predictions[['STORE', 'prediction_label', 'prediction_score']]

      STORE  prediction_label  prediction_score
115       3                 3             0.948
504       3                 3             0.998
1036      1                 1             0.994
1068      0                 0             1.000
156       4                 4             0.994
...     ...               ...               ...
1008      0                 0             1.000
308       3                 3             0.972
530       2                 2             0.996
624       1                 1             1.000
185       4                 4             0.978

[321 rows x 3 columns]